<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>The latest news</title>
  </head>
  <body>
    <div th:each="currencyNews: ${currencyNews}" >
      <b th:text="${'The latest news on ' + currencyNews.currency + ' cryptocurrency'}"></b>
      <ul>
        <li th:each="news: ${currencyNews.news}">
          <a th:href="${news.url}" th:text="${news.title}"></a>
        </li>
      </ul>
    </div>
  </body>
</html>